:root {
    /*shrink hace que al disminuir el tamano de la pantalla, en ves de un elemento X mantener el mismo tamaño (el cual seria relativamente mas grande en una pantalla mas pequeña), se redusca en relacion a la reduccion de la pantalla (orientacion X) pero en menor intensidad (20 siendo menos y 80 mas) */
    --shrink80: calc(1px - (1920px - 100vw) * 0.000526);
    --shrink60: calc(1px - (1920px - 100vw) * 0.000395);
    --shrink40: calc(1px - (1920px - 100vw) * 0.000263);
    --shrink20: calc(1px - (1920px - 100vw) * 0.00018);
    --grow40: calc(1px + (1920px - 100vw) * 0.000263);
    /*dynamic font size*/
    --twentyPx: calc(20 * var(--shrink40));
}

* {
    margin: 0px;
}

/* TOOLS */

.outline {
    outline: 1px solid black;
}


/* DESKTOP ONLY */

@media screen and (width >= 960px){

}

/* MOBILE ONLY */

@media screen and (width < 960px){

}